<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.SQLite" version="5.9.931" targetFramework="net452" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net452" />
  <package id="Npgsql" version="3.2.4.1" targetFramework="net452" />
  <package id="Spire.DataExport" version="3.5.10" targetFramework="net452" />
  <package id="SQLite" version="3.13.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
</packages>